<div class="modal fade" id="mod_add_form_comment" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header green-modal">
                <span class="spn-modal-header">Agregar observación</span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="AFMcomment">Observación:</label>
                    <textarea class="form-control" id="AFMcomment" rows="3" placeholder="Agregar observación"></textarea>
                </div>
            </div>
            <div class="modal-footer green-modal">
                <button type="button" class="btn btn-outline-dark" id="btnAFMsaveComment"><span class="hide-text">Guardar </span><i class="fa fa-save"></i></button>
                <button type="button" class="btn btn-outline-dark close-modal"><span class="hide-text">Salir </span><i class="fa fa-close"></i></button>
            </div>
        </div>
    </div>
</div>
