<div class="modal fade" id="mod_create_form_for_template" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header green-modal">
                <span class="spn-modal-header">Crear formulario</span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row row-wo-margin">
                        <form id="frmCreateTemplateForm" style="width:60%;">
                            <h6 id="newTempFormTempName"></h6>
                            <div class="form-group row no-space-bottom">
                                <label for="newTempFormName" class="col-sm-2 col-form-label col-form-label-sm">Nombre: </label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control form-control-sm" id="newTempFormName" placeholder="Nombre del formulario" name="name"/>
                                </div>
                            </div>
                            <div class="row justify-content-end">
                                <div class="col-sm-10 hide-error-msg" id="errnewTempFormName">
                                    Campo inválido
                                </div>
                            </div>
                            <div class="form-group row no-space-bottom">
                                <label for="newTempFormFolder" class="col-form-label col-sm-2 col-form-label-sm">Carpeta: </label>
                                <div class="col-sm-10">
                                    <input type="text" id="newTempFormFolder" readonly class="form-control form-control-sm" placeholder="Selecciona carpeta" name="folder"/>
                                </div>
                            </div>
                            <div class="row justify-content-end">
                                <div class="col-sm-10 hide-error-msg" id="errnewTempFormFolder">
                                    Campo inválido
                                </div>
                            </div>
                            <div class="form-group row no-space-bottom" style="padding:0 2%; width: 96%; margin: 0 2% 1%;">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="newTempFormFile" name="form_file" data-required="true" pattern=".xlsx,.XLSX,.Xlsx" data-toggle="tooltip" title="Solo archivos del tipo .xlsx, .XLSX, .Xlsx"/>
                                    <label class="custom-file-label" for="newTempFormFile" style="overflow:hidden;">Seleccionar archivo</label>
                                </div>
                            </div>
                            <fieldset class="fieldset-project-users">
                                <legend class="fieldset-legend-project-users">Formato fiscal</legend>
                                <div class="form-group no-space-bottom justify-content-between">
                                    <label for="tax_form_description" class="col-form-label col-form-label-sm">Descripción:</label>
                                    <textarea class="form-control form-control-sm" id="tax_form_description" placeholder="Agregar descripción del formato fiscal" name="tax_form_description" style="width: 100%; margin-right: 1.5%;"></textarea>
                                </div>
                                <div class="form-group row no-space-bottom" style="padding:0 2%;">
                                    <div class="custom-file" style="width: 97%; margin: 0.5% 1.5%;">
                                        <input type="file" class="custom-file-input" id="taxFormFile" name="tax_form_file" data-required="true" pattern=".xlsx,.XLSX,.Xlsx" data-toggle="tooltip" title="Solo archivos del tipo .xlsx, .XLSX, .Xlsx"/>
                                        <label class="custom-file-label" for="taxFormFile" style="overflow:hidden;">Seleccionar archivo</label>
                                    </div>
                                </div>
                            </fieldset>


                        </form>
                        <div id="divNewTempFormFolders" class="mod-menu-explorer" style="max-height:initial;">
                            {% include 'elements/_form_menu_path_mod_temp_form.html' %}
                            <div class="div-mP-folders-container row row-wo-margin" id="divMPFoldersContModTemp">

                            </div>
                        </div>
                        <div class="container">
                            <div class="row row-wo-margin justify-content-end">
                                <button class="btn btn-info btn-sm" id="btnAddTempFolder"><i class="fa fa-plus"></i></button>
                                <button class="btn btn-info btn-sm"><i class="fa fa-edit" id="btnEditTempFolder"></i></button>
                                <button class="btn btn-info btn-sm" id="btnDeleteTempFolder"><i class="fa fa-trash-o"></i></button>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <div class="modal-footer green-modal">
                <button type="button" class="btn btn-outline-dark btn-sm" id="btnSaveCreateTempForm"><span class="hide-text">Crear </span><i class="fa fa-check-square-o"></i></button>
                <button type="button" class="btn btn-outline-dark close-modal btn-sm"><span class="hide-text">Salir </span><i class="fa fa-times"></i></button>
            </div>
        </div>
    </div>
</div>
