<div class="modal fade" id="mod_download_form_files" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header green-modal">
                <span class="spn-modal-header">Descargar archivos</span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <div id="divDownloadFilesContainer" class="row">
                </div>
                <div class="form-check" style="margin-left:8px;">
                    <input class="form-check-input" type="checkbox" value="" id="DFFcheck_select_all">
                    <label class="form-check-label" for="DFFcheck_select_all" style="font-size:small; vertical-align:text-bottom;">Seleccionar todo</label>
                </div>
            </div>
            <div class="modal-footer green-modal">
                <button type="button" class="btn btn-outline-dark" id="btnDownloadFormFile" data-toggle="tooltip" title="Descarga carpeta zip con documentos seleccionados"><span class="hide-text">Descargar </span><i class="fa fa-download"></i></button>
                <button type="button" class="btn btn-outline-dark" id="btnDeleteFormFile" data-toggle="tooltip" title="Eliminar archivo seleccionado"><span class="hide-text">Eliminar </span><i class="fa fa-trash"></i></button>
                <button type="button" class="btn btn-outline-dark close-modal"><span class="hide-text">Salir </span><i class="fa fa-times"></i></button>
            </div>
        </div>
    </div>
</div>
