<div class="modal fade" id="mod_finish_checking_form" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header green-modal">
                <span class="spn-modal-header">Finalizar revisión</span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="FCHFmessage">Mensaje:</label>
                        <textarea class="form-control" id="FCHFmessage" rows="3" placeholder="Agregar mensaje para notificación (Opcional)"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer green-modal">
                <button type="button" class="btn btn-outline-dark" id="btnReturnToAssignee"><span class="hide-text">Enviar a corregir </span><i class="fa fa-mail-reply"></i></button>
                <button type="button" class="btn btn-outline-dark" id="btnFinishCheckingForm"><span class="hide-text">Finalizar revisión </span><i class="fa fa-check-square-o"></i></button>
                <button type="button" class="btn btn-outline-dark close-modal"><span class="hide-text">Cerrar </span><i class="fa fa-close"></i></button>
            </div>
        </div>
    </div>
</div>
