<div class="modal fade" id="mod_finish_checking_form" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header green-modal">
                <span class="spn-modal-header">Finalizar revisión</span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="FCHFmessage">Mensaje:</label>
                        <textarea class="form-control" id="FCHFmessage" rows="3" placeholder="Agregar mensaje para notificación (Opcional)"></textarea>
                    </div>
                    <div>
                        <div class="custom-control custom-radio custom-control-inline revision-radio" style="width:100%;">
                          <input type="radio" id="FCHFradio_next" name="send_to" class="custom-control-input" value="next" checked>
                          <label class="custom-control-label" for="FCHFradio_next" style="width:35%; align-self:center;">Enviar a: </label>
                          <select class="form-control" id="FCHFsend_to" name="send_to"></select>
                        </div>
                    </div>
                    <div>
                        <div class="custom-control custom-radio custom-control-inline revision-radio" style="width:100%; margin-top:5px;">
                          <input type="radio" id="FCHFradio_before" name="send_to" class="custom-control-input" value="return">
                          <label class="custom-control-label" for="FCHFradio_before" style="width:35%; align-self:center;">Regresar a:</label>
                          <select class="form-control" id="FCHFreturn_to" name="return_to" disabled></select>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer green-modal">
                <button type="button" class="btn btn-outline-dark" id="btnModSendToRevision"><span class="hide-text">Enviar </span><i class="fa fa-send"></i></button>
                <button type="button" class="btn btn-outline-dark close-modal"><span class="hide-text">Cerrar </span><i class="fa fa-close"></i></button>
            </div>
        </div>
    </div>
</div>
