<div class="modal fade" id="mod_form_folder_menu" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content"  style="width:400px; height:500px; border: .5px solid #54b7ac;">
            <div class="modal-header green-modal">
                <span class="spn-modal-header">Menú</span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="div_form_folder_menu" style="width:auto; overflow-x:auto; height:360px; overflow-y:auto;">

                </div>
            </div>
            <div class="modal-footer green-modal">
                <button type="button" class="btn btn-outline-dark" id="btnSelectNewFolder"><span class="hide-text">Seleccionar </span><i class="fa fa-check"></i></button>
                <button type="button" class="btn btn-outline-dark close-modal"><span class="hide-text">Salir </span><i class="fa fa-times"></i></button>
            </div>
        </div>
    </div>
</div>
