<div class="modal fade" id="mod_my_account" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header green-modal">
                <span class="spn-modal-header">Mi cuenta</span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <form>
                        <div class="form-group row">
                            <label for="MAname" class="col-sm-2 col-form-label">Nombre: </label>
                            <div class="col-sm-10">
                                <input id="MAname" type="text" placeholder="Nombre" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="MAemail" class="col-sm-2 col-form-label">Correo: </label>
                            <div class="col-sm-10">
                                <input type="email" id="MAemail" class="form-control" placeholder="Correo electrónico" />
                            </div>
                        </div>
                        <div class="form-group row" style="padding: 0 7% 0 3%;">
                            <div class="custom-file col-10">
                                <input type="file" class="custom-file-input" id="MAuser_image"/>
                                <label class="custom-file-label" for="MAuser_image">Seleccionar imagen</label>
                            </div>
                            <div class="col-2">
                                <button type="button" class="btn btn-success" disabled>Quitar</button>
                            </div>
                        </div>

                        <div id="password_collapse" style="display:none;">
                            <div class="form-group row">
                                <label class="col-form-label col-sm-2" for="MAold_password">Actual: </label>
                                <div class="col-sm-9">
                                    <input type="password" id="MAold_password" class="form-control" placeholder="Contraseña actual" data-toggle="tooltip" data-placement="bottom" title="Contraseña actual"/>
                                </div>
                                <div class="col-sm-1 form-check" style="align-self:center;">
                                    <input type="checkbox" class="form-check-input" id="MAch_show_old_password"/>
                                    <span class="form-check-label"><i class="fa fa-eye" style="position:relative; bottom:2px;"></i></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-sm-2" for="MAnew_password">Nueva: </label>
                                <div class="col-sm-9">
                                    <input type="password" id="MAnew_password" class="form-control" placeholder="Nueva contraseña" data-toggle="tooltip" data-placement="bottom" title="Nueva contraseña" />
                                </div>
                                <div class="col-sm-1 form-check" style="align-self:center;">
                                    <input type="checkbox" class="form-check-input" id="MAch_show_new_password"/>
                                    <span class="form-check-label"><i class="fa fa-eye" style="position:relative; bottom:2px;"></i></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-sm-2" for="MAconfirm_password">Confirmar: </label>
                                <div class="col-sm-9">
                                    <input type="password" id="MAconfirm_password" class="form-control" placeholder="Confirmar contraseña" data-toggle="tooltip" data-placement="bottom" data-placement="Confirmar contraseña"/>
                                </div>
                                <div class="col-sm-1 form-check" style="align-self:center;">
                                    <input type="checkbox" class="form-check-input" id="MAch_show_confirm_password"/>
                                    <span class="form-check-label"><i class="fa fa-eye" style="position:relative; bottom:2px;"></i></span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer green-modal">
                <button type="button" class="btn btn-outline-dark mr-auto" id="btnChangePassword"><span class="hide-text">Cambiar contraseña </span><i class="fa fa-lock"></i></button>
                <button type="button" class="btn btn-outline-dark"><span class="hide-text">Guardar </span><i class="fa fa-save"></i></button>
                <button type="button" class="btn btn-outline-dark"><span class="hide-text">Salir </span><i class="fa fa-times"></i></button>
            </div>
        </div>
    </div>
</div>
