<div class="modal fade" id="mod_new_user" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header green-modal">
                <span class="spn-modal-header">Nuevo usuario</span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <form id="frmNewUser">
                        <div class="form-group row no-space-bottom">
                            <label class="col-sm-2 col-form-label" for="NUname">Nombre: </label>
                            <div class="col-sm-10">
                                <input type="text" id="NUname" placeholder="Nombre" class="form-control" name="name" data-required="true"/>
                            </div>
                        </div>
                        <div class="row justify-content-end">
                            <div class="col-sm-10 hide-error-msg" id="errNUname">
                                Campo inválido
                            </div>
                        </div>
                        <div class="form-group row no-space-bottom">
                            <label class="col-form-label col-sm-2" for="NUemail">Correo: </label>
                            <div class="col-sm-10">
                                 <input type="email" id="NUemail" placeholder="Correo" class="form-control" name="email" data-required="true"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-10 offset-sm-2 hide-error-msg" id="errNUemail">
                                Campo inválido
                            </div>
                        </div>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="NUuser_image" name="profile_img" data-required="false" pattern=".png,.PNG,.Png,.jpeg,.JPEG,.Jpeg,.jpg,.JPG,.Jpg"/>
                            <label class="custom-file-label" for="NUuser_image">Seleccionar imagen</label>
                        </div>
                        <div class="row">
                            <div class="hide-error-msg col-sm-10" id="errNUuser_image">
                                Campo inválido
                            </div>
                        </div>
                        <fieldset class="fieldset-permits">
                            <legend class="fieldset-legend-permits">Permisos</legend>
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="NUch_resolve_forms" name="resolve_forms"/>
                                    <label class="custom-control-label" for="NUch_resolve_forms">Resolver formularios</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="NUch_create_forms" name="create_forms"/>
                                    <label class="custom-control-label" for="NUch_create_forms">Crear formularios</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="NUch_create_projects" name="create_projects"/>
                                    <label class="custom-control-label" for="NUch_create_projects">Crear proyectos</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="NUch_create_folders" name="create_folders"/>
                                    <label class="custom-control-label" for="NUch_create_folders">Crear carpetas</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="NUch_download_forms" name="download_forms"/>
                                    <label class="custom-control-label" for="NUch_download_forms">Descargar formularios</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="NUch_create_users" name="create_users"/>
                                    <label class="custom-control-label" for="NUch_create_users">Crear usuarios</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="NUch_see_all_forms" name="see_all_forms"/>
                                    <label class="custom-control-label" for="NUch_see_all_forms">Ver todos los formularios</label>
                                </div>
                        </fieldset>
                    </form>
                </div>
            </div>
            <div class="modal-footer green-modal">
                <button type="buttone" class="btn btn-outline-dark" id="btnSaveUser"><span class="hide-text">Guardar </span><i class="fa fa-save"></i></button>
                <button type="button" class="btn btn-outline-dark close-modal"><span class="hide-text">Salir </span><i class="fa fa-times"></i></button>
            </div>
        </div>
    </div>
</div>
