<div class="modal fade" id="mod_new_project" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header green-modal">
                <span class="spn-modal-header">Nuevo proyecto</span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <form id="frmNewProject">
                        <div class="form-group row no-space-bottom">
                            <label for="NPproject_name" class="col-sm-2 col-form-label col-form-label-sm">Proyecto: </label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control form-control-sm" id="NPproject_name" placeholder="Nombre del proyecto" name="name"/>
                            </div>
                        </div>
                        <div class="row justify-content-end">
                            <div class="col-sm-10 hide-error-msg" id="errNPproject_name">
                                Este campo es requerido
                            </div>
                        </div>
                        <div class="form-group row no-space-bottom">
                            <label for="NPcompany_name" class="col-sm-2 col-form-label col-form-label-sm">Empresa: </label>
                            <div class="col-sm-9">
                                <select class="form-control form-control-sm" id="NPcompany_name" name="company_id">
                                </select>
                                <!-- <input type="text" class="form-control form-control-sm" id="NPcompany_name" placeholder="Nombre de la empresa" name="company_name"/> -->
                            </div>
                            <button class="btn btn-info btn-sm" id="btnOpenNewCompany" type="button"><i class="fa fa-plus"></i></button>
                        </div>
                        <div class="form-group row no-space-bottom">
                            <label for="NPperiod" class="col-sm-2 col-form-label col-form-label-sm">Periodo: </label>
                            <div class="col-sm-10 input-group">
                                <input type="date" class="form-control form-control-sm" id="NPdateFrom" required name="start_date"/>
                                <span class="col-form-label col-form-label-sm" style="margin-left:4px; margin-right:4px;"> a </span>
                                <input type="date" class="form-control form-control-sm" id="NPdateTo" required name="finish_date"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5 offset-sm-2 hide-error-msg" id="errNPdateFrom">
                                Campo requerido
                            </div>
                            <div class="col-sm-4 hide-error-msg" id="errNPdateTo">
                                Campo requerido
                            </div>
                        </div>
                        <div class="form-group row no-space-bottom">
                            <label for="NPmanager" class="col-sm-2 col-form-label col-form-label-sm">Supervisor: </label>
                            <div class="col-sm">
                                <select class="form-control form-control-sm" id="NPmanager" name="manager">
                                </select>
                            </div>
                            <label for="NPpartner" class="col-sm-2 col-form-label col-form-label-sm">Gerente: </label>
                            <div class="col-sm">
                                <select class="form-control form-control-sm" id="NPpartner" name="partner">
                                </select>
                            </div>
                        </div>
                        <div class="form-group row no-space-bottom">
                            <label for="NPproject_template" class="col-sm-2 col-form-label col-form-label-sm">Plantilla: </label>
                            <div class="col-sm-10">
                                <select class="form-control form-control-sm" id="NPproject_template" name="template_id">
                                </select>
                            </div>
                        </div>
                        <div class="form-group row no-space-bottom justify-content-between" style="margin-top:20px;">
                            <label for="NPcomments" class="col-sm-2 col-form-label col-form-label-sm">Comentarios:</label>
                            <textarea class="form-control form-control-sm" id="NPcomments" placeholder="Agregar comentarios acerca del proyecto" name="comments" style="width: 80%; margin-right: 1.5%;"></textarea>
                        </div>
                    </form>
                    <fieldset class="fieldset-project-users">
                        <legend class="fieldset-legend-project-users">Usuarios del proyecto</legend>
                        <div class="row row-wo-margin div-projectu-cont">
                            <div style="width:40%;">
                                <div class="form-group row no-space-bottom justify-content-center">
                                    <label for="NPProjUser" class="col-form-label col-form-label-sm" style="margin:0 5px;">Usuario: </label>
                                    <select class="form-control form-control-sm" id="NPProjUser" name="user_id" style="width:auto; margin:0 5px;">
                                    </select>
                                    <!-- <div class="col-sm">

                                    </div> -->
                                    <button type="button" class="btn btn-info btn-sm" id="btnNPAddProjUser" style="margin:0 5px;">Agregar</button>
                                </div>
                            </div>
                            <div id="divProjAddedUsersCont" class="row row-wo-margin">

                            </div>
                        </div>
                    </fieldset>


                </div>
            </div>
            <div class="modal-footer green-modal">

                <button type="button" class="btn btn-outline-dark close-modal btn-sm"><span class="hide-text">Salir </span><i class="fa fa-times"></i></button>
                <!-- <button type="button" class="btn btn-outline-dark btn-sm" id="btnSaveProject"><span class="hide-text">Siguiente </span><i class="fa fa-angle-right"></i></button> -->
                <button type="button" class="btn btn-outline-dark btn-sm" id="btnSaveProjectRequest"><span class="hide-text">Siguiente </span><i class="fa fa-angle-right"></i></button>
            </div>
        </div>
    </div>
</div>
