<div class="modal fade" id="mod_sel_form_to_clone" tabindex="-1" role="dialog" data-keaybord="false" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header green-modal">
                <span class="spn-modal-header">Seleccionar formulario</span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="max-height:480px; overflow-y:scroll;">
                <div class="container-fluid">
                    <div class="form-group row">
                        <label for="SFTCclone_form_project" class="col-sm-2 col-form-label">Proyecto: </label>
                        <div class="col-sm-10">
                            <select class="form-control" id="SFTCclone_form_project" name="project_id"></select>
                        </div>
                    </div>
                    <div id="SFTCpanelFormMenu" style="background-color:white; border-radius:5px; overflow-x:scroll; height:300px;">
                        
                    </div>
                </div>
            </div>
            <div class="modal-footer green-modal">
                <button type="button" class="btn btn-outline-dark" id="btnSelectFormToCloneAnPr"><span class="hide-text">Seleccionar </span><i class="fa fa-check-square-o"></i></button>
                <button type="button" class="btn btn-outline-dark close-modal"><span class="hide-text">Salir </span><i class="fa fa-times"></i></button>
            </div>

        </div>
    </div>
</div>
