.selectable-folder, .selectable-folder-edit{
    cursor:pointer;
    margin-left:7px;
}

.selectable-form, .selectable-form-edit{
    margin-left:7px;
}

.treepanel-pin-collapsed{
    transform:rotate(90deg);
}

 .btn-collapse-treepanel:hover, .btn-collapse-treepanel:visited, .btn-collapse-treepanel:active, .btn-collapse-treepanel:focus {
    outline:none !important;
    box-shadow:none !important;
}

.form-check-input.tree-menu-checkbox{
    margin-left:-1.5rem !important;
}

.form-check-input.tree-menu-checkbox-edit{
    margin-left: -1.5rem !important;
}
