.spn-act-title{
    font-size:24px;
    color:#616161;
    margin: 15px;
}

.div-act-title{
    margin: 2%;
    width: 74%;
}

.div-act-table{
    padding:2%;
}

.div-leftmenusb{
    width:22%;
}

.lms-icon-off{
    display:none;
}

.act-priority-yellow{
    border-left:3px solid #fdeb4c;
}
.act-priority-orange{
    border-left:3px solid #ff9800;
}
.act-priority-red{
    border-left:3px solid #f44336;
}
.spn-act-priority{
    margin-left:3px;
}
@media screen and (max-width:810px){
    .div-leftmenusb{
        width:15%;
    }
    .div-act-title{
        width:81%;
    }
    .lms-icon-off{
        display:initial;
    }
}
