.form-fieldset{
    border:1px solid #afa9a9;
    padding: 0 2%;
    border-radius: 5px;
}

.form-fieldset-legend{
    width: auto;
    padding: 4px;
    margin-left: 5px;
    font-size:large;
}

.form-paging-toolbar{
    border:.5px solid #595f65;
}

.paging-toolbar-number{
    width: 30px;
    border-radius: 5px;
    border: 0;
    color:#353434;
    text-align:center;
    margin-right: 5px;
}

.table-ns{
    user-select:none;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
}

.p-last-updated{
    font-size:small;
    color:#606469;
    margin-bottom:2px;
}

.p-form-status{
    margin: 0px 5px 2px;
    color: #484646;
    font-size: small;
    font-style: italic;
}




.comment-author{
    font-size:0.75em;
    font-style:italic;
    display:flex;
    justify-content: flex-end;
    color:#6b6666;
}


#grdFormToResolve td{
    text-align:left;
}

#grdPrefilledForm td{
    text-align:left;
}

#divResolveFormPrintingInfo p{
    margin-bottom:0;
    font-family:serif;
    color:#434a4c;
}

#divDownloadFilesContainer{
    min-height: 100px;
    max-height: 250px;
    padding: 5px;
    border-radius: 10px;
    background-color: #f3f1f1;
    margin: 3px;
    overflow-y: scroll;
}




/*----FORM MENU PATH----*/
.div-form-menu-path{
    height:30px;
    width: inherit;
    font-size: 14px;
    color:var(--text-color-grey);
    padding:5px;
}

.div-form-menu-path-mod{
    height:30px;
    /* width: inherit; */
    font-size: 14px;
    color:var(--text-color-grey);
    padding:5px;
}

.icon-form-path{
    margin-right:5px;
    font-size: 14px;
}

.last-icon-form-path{
    color:orange;
    margin-right: 5px;
    font-size: 14px;
}

.spn-form-menu-path, .spn-form-menu-path-mod{
    font-family:sans-serif;
    margin-left: 3px;
}

.a-home-form-path-menu, .a-home-form-path-menu-mod{
    color:var(--text-color-grey);
    /* display: inherit; */
}

.a-home-form-path-menu:hover{
    text-decoration: none;
    color:black;
}

/*----Table style----*/

#divTableToResolve{
    font-size:14px;
    max-height: 350px;
    overflow-y: scroll;
}

.btn-primary{
    background-color:#367dbe;
    border-color:#367dbe;
}

#btnSeeFormDetails{
    border-radius: 50%;
    background-color:#69c5d8;
    font-size:12px;
    color:white;
    border:1px solid #69c5d8;
}

#btnSeeFormDetails:focus{
    outline:none;
}

#btnSeeFormDetails:hover{
    background-color:#4096d3;
}

#btnCollapseObsDoc{
    color:#69c5d8;
    border:none;
    border-radius: 50%;
    background-color:white;
    font-size:14px;
    margin-bottom:3px;
}

#btnCollapseObsDoc:hover{
    color:white;
    background-color: #69c5d8;
}

#btnCollapseObsDoc:focus{
    outline:none;
}

.pin-right{
    transform:rotate(-90deg);
}

.card-header-blue{
    background-color:#367dbe;
    color:white;
    padding: 8px;
    font-size: 14px;
    display: flex;
}

#divFormObs{
    height:65%;
}

#divFormDocs{
    height:30%;
}

#divRSobs_doc{
    height: inherit;
}

#divFormObsDocs{
    height: calc(100% - 30px);
}

.obs-bg{
    /* background-color:#ececec; */
    border-radius: 5px;
    height: inherit;
    overflow-y: scroll;
}

.spn-obs-name{
    font-size:13px;
    color: #7b7979
}

.card-body-obs{
    padding:2px;
    height: inherit;
    /* overflow-y: scroll; */
}

.card-body-docs{
    padding:2px;
    height: inherit;
    /* overflow-y: scroll; */
}

.spn-obs-date{
    font-size:10px;
    color:#939393;
    margin-left:3px;
}

.btn-add-obs{
    padding:0;
    color:white;
}

.btn-add-obs:hover{
    color:#fba62f;
}

.btn-add-obs:focus{
    outline: none;
    box-shadow: none;
}

.btn-save-obs{
    color:#367dbe;
    padding:0;
}

.btn-save-obs:hover{
    color:#fba62f;
}

#formComments{
    height: inherit;
    /* overflow-y: scroll; */
}

#divFormComments{
    /* max-height: 450px; */
    overflow-y: scroll;
}

.div-form-comment{
    border: 1px solid #dcdada;
    border-radius: 5px;
    background-color: #f7f7f4;
    /* height:fit-content; */

    /* height: inherit; */
    /* overflow-y: scroll; */
    margin: 8px 4px;
    padding:5px;
    font-size:12px;
}

.div-form-comment ol,ul{
    padding-left:10%;
}

.ql-toolbar.ql-snow{
    padding:2px !important;
    width: 90%;
}

.ql-container{
    font-size:12px !important;
}

.ql-formats{
    margin:0 !important;
}

.comment-content{
    /* font-size:0.9em; */
    color:#4a4444;
}

.btn-docs-header{
    color:white;
    padding:0;
}

.btn-docs-header:hover{
    color:#fba62f;
}

.docs-bg{
    /* background-color:#ececec; */
    border-radius: 5px;
    height: inherit;
    overflow-y: scroll;
}

.icon-pdf{
    content: url('/static/images/pdf.png');
    background-image:url('/static/images/pdf.png');
    width:35px;
    height:35px;
    display: block;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: contain;
}

.icon-excel{
    content:url('/static/images/excel.png');
    background-image: url('/static/images/excel.png');
    width:35px;
    height:35px;
    display: block;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: contain;
}

.icon-powerpoint{
    content:url('/static/images/power_point.png');
    background-image: url('/static/images/power_point.png');
    width:35px;
    height:35px;
    display: block;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: contain;
}

.icon-word{
    content:url('/static/images/word.png');
    background-image: url('/static/images/word.png');
    width:35px;
    height:35px;
    display: block;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: contain;
}

.icon-zip{
    content:url('/static/images/zip_icon.png');
    background-image: url('/static/images/zip_icon.png');
    width:35px;
    height:35px;
    display: block;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: contain;
}

.icon-generic-file{
    content:url('/static/images/generic_file.png');
    background-image: url('/static/images/generic_file.png');
    width:35px;
    height:35px;
    display: block;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: contain;
}

.download-file{
    /* margin:6px 8px; */
    margin:auto;
}

.download-icon-div{
    /* display: grid; */
    display: flex;
    width: 95px;
    margin:2px 8px;
    line-height: 80%;

}

.spn-icon-text{
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size:0.7em;
    max-width: 65px;
    text-align: center;
    display:flex;
}

.checkbox-download-files{
    /* position:absolute; */
    position: sticky;
    /* margin-right: inherit;
    margin-top: 8px; */
    margin: initial;
}

#formDocuments{
    padding:2px;
}

.btn-edit-obs{
    color: #367dbe;
    /* color:white; */
    padding:2px;
    line-height: 1;
}

.btn-edit-obs:hover{
    color: #fba62f;
}

.btn-edit-obs:active{
    color: #fba62f;
}

.btn-edit-obs:focus{
    outline:none;
    box-shadow: none;
}

#comment_editor{
    /* height: 30%; */
    height: 100%;
    width: 90%;
}

@media screen and (max-width:1212px){
    #comment_editor{
        height: 90%;
    }
}

#divEditorAndButtons{
    height: 30%;
}

#comment_editor_buttons{
    display: inline-grid;
    margin: auto;
}

.ql-snow .ql-color-picker .ql-picker-options{
    width: 112px !important;
}

.mod-menu-explorer{
    width:38%;
    margin-left:1%;
    margin-bottom:1%;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    max-height: 200px;
    overflow-y: auto;
}


#divColumnsSettings{
    font-size: 14px;
    max-height: 350px;
    overflow-y: scroll;
    overflow-x: auto;
}
