.form-fieldset{
    border:1px solid #afa9a9;
    padding: 0 2%;
    border-radius: 5px;
}

.form-fieldset-legend{
    width: auto;
    padding: 4px;
    margin-left: 5px;
    font-size:large;
}

.form-paging-toolbar{
    border:.5px solid #595f65;
}

#paging_toolbar_number{
    width: 30px;
    border-radius: 5px;
    border: 0;
    color:#353434;
    text-align:center;
    margin-right: 5px;
}
