.form-fieldset{
    border:1px solid #afa9a9;
    padding: 0 2%;
    border-radius: 5px;
}

.form-fieldset-legend{
    width: auto;
    padding: 4px;
    margin-left: 5px;
    font-size:large;
}

.form-paging-toolbar{
    border:.5px solid #595f65;
}

.paging-toolbar-number{
    width: 30px;
    border-radius: 5px;
    border: 0;
    color:#353434;
    text-align:center;
    margin-right: 5px;
}

.table-ns{
    user-select:none;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
}

.p-last-updated{
    font-size:small;
    color:#606469;
    margin-bottom:2px;
}

.p-form-status{
    margin: 0px 5px 2px;
    color: #484646;
    font-size: small;
    font-style: italic;
}

.div-form-comment{
    border: 1px solid #dcdada;
    border-radius: 5px;
    background-color: #f7f7f4;
    height:fit-content;
    margin: 8px 4px;
    padding:10px;
}

.comment-content{
    font-size:0.9em;
    color:#4a4444;
}

.comment-author{
    font-size:0.75em;
    font-style:italic;
    display:flex;
    justify-content: flex-end;
    color:#6b6666;
}

#divFormComments{
    max-height: 450px;
    overflow-y: scroll;
}

#grdFormToResolve td{
    text-align:left;
}

#grdPrefilledForm td{
    text-align:left;
}
