/*
topnavbar
body
*/

/*
colores firma
morado:#981d97
azul-cielo: #00a9ce
azul-marino: #253381
verde: #00bfb3
naranja: #ed8b00
*/

html,body{
    /* background-color:#f2f2f2; */
    /* padding-top:65px; */
    height: 100%;
    margin: 0;
}

.mh-inh{
    min-height:inherit;
}

.modal-content{
    border:0;
}

.generic-user-img{
    content:url('../images/default-user.png');
    width:30px;
    height:30px;
}

#divUserDropdown {
    right: 0;
    position: absolute;
    left:initial;
}

.form-group.no-space-bottom{
    padding-bottom:0 !important;
    margin-bottom:0 !important;
}

.show-error-msg{
    font-size:0.8rem;
    visibility:visible;
    color:gray;
}

.hide-error-msg{
    visibility:hidden;
}

.valid-field{
    border:1px solid #0eab0e;
}

.invalid-field{
    border: 1px solid #ea480b;
}

.valid-file-field{
    height:auto;
    border:1px solid #0eab0e;
    border-radius:5px;
}

.invalid-file-field{
    height:auto;
    border:1px solid #ea480b;
    border-radius:5px;
}

.user-table-size{
    width:20px;
    height:20px;
    border-radius:50px;
}

.user-topnavbar-size{
    width:30px;
    height:30px;
    border-radius:50px;

    display: inline-block;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: contain;
}

/*----------------Nuevas clases V2-----------------*/

/*-top navbar-*/
.blue-top-navbar{
    background-color: #367dbe;
    height: 60px;
}

/*-sidebar menu-*/
.bg-left-sidebar{
    background-color: #4096d3;
    height: 100%;
    padding:7%;
    font-size:16px;
    color:#f4f2db;
}
.sidebar-profile-img{
    border-radius: 50%;

}

.hr-sidebar{
    width: 114%;
    background-color: #f4f8fc;
    margin: 5px 0;
    margin-left: -7%;
}

.sb-user-name{
    font-size:16px;
    color:	#f4f2db;
}

.sb-user-name:hover{
    color:white;
}

.sb-elem{
    color:#efede6;
    padding: 0.5rem 0.5rem;
}

.sb-elem:hover{
    color:white;
}

.sb-icon{
    width: 20px;
    height: 20px;
    margin-right: 5px;
    vertical-align: top;

}

/*-general-*/
.row-wo-margin{
    margin-left:0;
    margin-right:0;
    padding-left: 0;
    padding-right: 0;
}

#bodyContent{
    height: calc(100% - 60px);
}

.lfs-original{
    display:initial;
}
.lfs-reduced{
    display:none;
}

@media screen and (max-width:1080px){
    .bg-left-sidebar{
        font-size:14px;
    }
}

@media screen and (max-width:970px){
    .lfs-original{
        display:none;
    }
    .lfs-reduced{
        display:initial;
    }
}

@media screen and (max-width:810px){
    .lfs-reduced,.small-no-text{
        display:none;
    }
    .sb-icon{
        height:24px;
        width:24px;
    }
}
