.background-login{
    /* content:url("/static/images/login_small.jpg"); */
    background-image:url("/static/images/login_small.jpg");
    height:-webkit-fill-available;
    height:-moz-fit-content;
    background-repeat: no-repeat;
    background-size: cover;
}

.background-login-form{
    background-image:url('/static/images/fondo_cafe3.png');
    background-repeat: no-repeat;
    background-size: cover;
    height:-webkit-fill-available;
    height:-moz-fit-content;
}

.no-padding{
    padding:0 !important;
    margin:0 !important;
}

.login-form {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding:40px 15px;
  /* background-color: rgba(179, 179, 179, 0.43); */
  background-color: rgb(29 66 154 / 74%);
  border-radius:5px;
  height: inherit;
}

.login-image{
    content:url('/static/images/Logo_Rb_white2.png');
    max-width:250px;
    height:80px;
    padding:15px;
    display: block;
    margin: auto;
}

.login-pass-image{
    content:url('/static/images/Logo_Rb_white2.png');
    padding:15px;
    display: block;
    margin: auto;
    width: inherit;
    height: inherit;
}

.login-profile{
    content:url('/static/images/perfil.png');
    max-width:150px;
    height:150px;
    padding:15px;
    display: block;
    margin: auto;
}

.form-login{
    height: -webkit-fill-available;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}

.form-control::placeholder{
    text-align: center;
}
input[type="email"] {
    margin-bottom: 5px;

}

input[type="password"] {
  margin-bottom: 5px;
}

.a-login{
    color:#dae3e4;
}

.a-login:hover{
    text-decoration:none;
    color:#c8cfd0;
}

.show-login-error{
    color:#4e4f50;
    font-size:0.8rem;
    text-align:center;
    line-height:1;
    margin-bottom:3px;
    display:inherit;
}

.hide-login-error{
    display:none;
}

.spn-modal-header-login{
    font-size:large;
    font-weight:bolder;
}

.orange-modal{
    background-color: var(--azul-cielo);
    color:white;
}

:root{
    --morado:#981d97;
    --azul-cielo: #00a9ce;
    --azul-marino: #253381;
    --verde: #00bfb3;
    --naranja: #ed8b00;
}

.modal-content{
    border-radius:10px;
}

.modal-header, .modal-footer{
    padding:0.5rem;
}

.hide-error-msg{
    visibility:hidden;
}

.valid-field{
    border:1px solid #0eab0e;
}

.invalid-field{
    border: 1px solid #ea480b;
}

.form-group.no-space-bottom{
    padding-bottom:0 !important;
    margin-bottom:0 !important;
}

.rec-pass-row{
    margin-left: 0;
    margin-right: 0;
    height: inherit;
}

.rec-pass-div{
    background-color: rgb(29 66 154 / 74%);
    /* background-color: black; */
    height: 35%;
    margin:0;
}

.lbl-forg-pass{
    color:white;
    font-weight: bold;
    font-size: 32px;
}

.fp-align-center{
    display: flex;
    margin:auto;
}

.btn-fp{
    width: 60%;
    margin: auto;
    display: block;
    margin-top: 5px;
}

@media screen and (max-width:1060px){
    .login-image{
        width:160px;
        height: 60px;
    }
    .login-profile{
        width: 120px;
        height:120px;
    }
    #loginEmail,#loginPassword, #btnSignin{
        padding: 5px;
        font-size: 14px;
    }
    .a-login{
        font-size:14px;
    }
    .login-form{
        height:inherit;
    }
}

.div-fg-img{
    margin:auto;
}

.rp-step-1{
    display:initial;
}

.rp-step-2{
    display:none;
}

@media screen and (max-width:860px){
    .login-image{
        width: 140px;
        height: 40px;
        padding: 3px;
    }
    #loginEmail,#loginPassword, #btnSignin{
        padding: 3px;
        font-size: 12px;
    }
    .a-login{
        font-size:12px;
    }
    .login-form{
        height:inherit;
    }
}

@media screen and (max-width:900px){
    .lbl-forg-pass{
        font-size:28px;
    }
}

@media screen and (max-width:800px){
    .lbl-forg-pass{
        font-size:20px;
    }
    .btn-fp{
        font-size:0.7rem;
    }
    .inp-fg{
        font-size:0.9rem;
    }
}

@media screen and (max-width:595px){
    .lbl-forg-pass{
        font-size:18px;
    }
    .inp-fg{
        font-size:0.8rem;
    }
    .btn-fp{
        font-size:0.7rem;
    }
    .login-pass-image{
        display: none;
    }
    .div-fg-img{
        display: none;
    }
}

@media screen and (max-width:290px){
    .lbl-forg-pass{
        font-size:16px;
    }
    .inp-fg{
        font-size:0.7rem;
    }
    .btn-fp{
        font-size:0.6rem;
    }
    .login-pass-image{
        display: none;
    }
    .div-fg-img{
        display: none;
    }
}
