<div class="bg-left-sidebar d-flex flex-column">
    <ul class="nav flex-column" >
        <li class="nav-item">
            <div class="row row-wo-margin align-items-center">
                <img class="sidebar-profile-img" width="35" height="35"/>
                <a class="sb-user-name nav-link" href="#"><span class="small-no-text">Paz García</span></a>
            </div>
        </li>
        <hr class="hr-sidebar" />
        <li class="nav-item ">
            <a class="nav-link sb-elem" href="#"><img src="/static/images/icons/sb_verproyectos.png" class="sb-icon" height="20" width="20"/><span class="lfs-original">Ver mis proyectos</span><span class="lfs-reduced">Ver proyectos</span></a>
        </li>
        <li class="nav-item ">
            <a class="nav-link sb-elem" href="#"><img src="/static/images/icons/sb_crearproyecto.png" class="sb-icon" height="20" width="20"/><span class="small-no-text">Crear proyecto</span></a>
        </li>
        <li class="nav-item ">
            <a class="nav-link sb-elem" href="#"><img src="/static/images/icons/sb_duplicarproyecto.png" class="sb-icon" height="20" width="20"/><span class="small-no-text">Duplicar proyecto</span></a>
        </li>
        <li class="nav-item ">
            <a class="nav-link sb-elem" href="#"><img src="/static/images/icons/sb_eliminarproyecto.png" class="sb-icon" height="20" width="20"/><span class="small-no-text">Eliminar proyecto</span></a>
        </li>
        <li class="nav-item ">
            <a class="nav-link sb-elem" href="#"><img src="/static/images/icons/sb_actporvencer.png" class="sb-icon" height="20" width="20"/><span class="lfs-original">Actividades por vencer</span><span class="lfs-reduced">Act. por vencer</span></a>
        </li>
        <li class="nav-item ">
            <a class="nav-link sb-elem" href="#"><img src="/static/images/icons/sb_micuenta.png" class="sb-icon" height="20" width="20"/><span class="small-no-text">Mi cuenta</span></a>
        </li>
    </ul>
    <div class="mt-auto">
        <button class="btn btn-light btn-sm" style="width:100%;" id="btnSignOut"><i class="fa fa-power-off lms-icon-off"></i><span class="small-no-text">Cerrar sesión</span></button>
    </div>
</div>
