<div class="bg-left-sidebar d-flex flex-column">
    <ul class="nav flex-column" >
        <li class="nav-item">
            <div class="row row-wo-margin align-items-center">
                <img class="sidebar-profile-img" width="35" height="35"/>
                <a class="sb-user-name nav-link" href="#">Paz García</a>
            </div>
        </li>
        <hr class="hr-sidebar" />
        <li class="nav-item ">
            <a class="nav-link sb-elem" href="#"><img src="/static/images/icons/sb_verproyectos.png" class="sb-icon" height="20" width="20"/>Ver mis proyectos</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link sb-elem" href="#"><img src="/static/images/icons/sb_crearproyecto.png" class="sb-icon" height="20" width="20"/>Crear proyecto</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link sb-elem" href="#"><img src="/static/images/icons/sb_duplicarproyecto.png" class="sb-icon" height="20" width="20"/>Duplicar proyecto</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link sb-elem" href="#"><img src="/static/images/icons/sb_eliminarproyecto.png" class="sb-icon" height="20" width="20"/>Eliminar proyecto</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link sb-elem" href="#"><img src="/static/images/icons/sb_actporvencer.png" class="sb-icon" height="20" width="20"/>Actividades por vencer</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link sb-elem" href="#"><img src="/static/images/icons/sb_micuenta.png" class="sb-icon" height="20" width="20"/>Mi cuenta</a>
        </li>
    </ul>
    <div class="mt-auto">
        <button class="btn btn-light btn-sm" style="width:100%;" id="btnSignOut">Cerrar sesión</button>
    </div>
</div>
