<div class="bg-left-sidebar d-flex flex-column">
    <ul class="nav flex-column" >
        <li class="nav-item">
            <div class="row row-wo-margin align-items-center">
                <img class="sidebar-profile-img" width="35" height="35" src="/static/images/default-user.png"/>
                <a class="sb-user-name nav-link" href="#"><span class="small-no-text" id="spnSidebarUsername">{{ g.user_name }}</span></a>
            </div>
        </li>
        <hr class="hr-sidebar" />
        <li class="nav-item ">
            <a class="nav-link sb-elem" href="#mod_my_account" data-toggle="modal"><img src="/static/images/icons/sb_micuenta.png" class="sb-icon" height="20" width="20"/><span class="small-no-text">Mi cuenta</span></a>
        </li>
        <li class="nav-item ">
            <a class="nav-link sb-elem" href="/activity-list"><img src="/static/images/icons/sb_actporvencer.png" class="sb-icon" height="20" width="20"/><span class="lfs-original">Mis actividades</span><span class="lfs-reduced">Mis actividades</span></a>
        </li>
        {% if g.consultant==True %}
            <li class="nav-item ">
                <a class="nav-link sb-elem" href="/activity-list/consultant"><img src="/static/images/icons/sb_consultor.png" class="sb-icon" height="20" width="20"/><span class="small-no-text">Act. Modo consultor</span></a>
            </li>
        {% endif %}
        <li class="nav-item ">
            <a class="nav-link sb-elem" href="/my-projects"><img src="/static/images/icons/sb_verproyectos.png" class="sb-icon" height="20" width="20"/><span class="lfs-original">Mis proyectos</span><span class="lfs-reduced">Mis proyectos</span></a>
        </li>
        {% if g.consultant==True %}
            <li class="nav-item ">
                <a class="nav-link sb-elem" href="/my-projects/consultant"><img src="/static/images/icons/sb_consultor.png" class="sb-icon" height="20" width="20"/><span class="small-no-text">Proy. Modo consultor</span></a>
            </li>
        {% endif %}
        <li class="nav-item ">
            <a class="nav-link sb-elem" href="#mod_new_project" data-toggle="modal"><img src="/static/images/icons/sb_crearproyecto.png" class="sb-icon" height="20" width="20"/><span class="small-no-text">Alta de proyecto</span></a>
        </li>
        {% if g.consultant==True %}
            <li class="nav-item ">
                <a class="nav-link sb-elem" href="#mod_clone_project" data-toggle="modal"><img src="/static/images/icons/sb_duplicarproyecto.png" class="sb-icon" height="20" width="20"/><span class="small-no-text">Duplicar proyecto</span></a>
            </li>
        {% endif %}
        <li class="nav-item ">
            <a class="nav-link sb-elem" href="#mod_delete_project" data-toggle="modal"><img src="/static/images/icons/sb_eliminarproyecto.png" class="sb-icon" height="20" width="20"/><span class="small-no-text">Eliminar proyecto</span></a>
        </li>
        {% if g.consultant==True %}
            <li class="nav-item ">
                <a class="nav-link sb-elem" href="#mod_admin_users" data-toggle="modal"><img src="/static/images/icons/sb_usuarios.png" class="sb-icon" height="20" width="20"/><span class="small-no-text">Usuarios</span></a>
            </li>
            <li class="nav-item ">
                <a class="nav-link sb-elem" href="/templates"><img src="/static/images/icons/sb_template.png" class="sb-icon" height="20" width="20"/><span class="small-no-text">Plantillas</span></a>
            </li>
        {% endif %}
        <li class="nav-item ">
            <a class="nav-link sb-elem" href="#mod_show_project_requests" data-toggle="modal"><img src="/static/images/icons/sb_solicitud.png" class="sb-icon" height="20" width="20"/><span class="small-no-text">Solicitudes de proyectos   </span><i class="fa fa-circle" style="color:#f75858"></i></a>
        </li>
        <li class="nav-item ">
            <a class="nav-link sb-elem" href="#mod_show_tax_forms_requests" data-toggle="modal"><img src="/static/images/icons/sb_solicitud.png" class="sb-icon" height="20" width="20"/><span class="small-no-text">Solicitudes Formatos Fiscales</span></a>
        </li>
    </ul>
    <div class="mt-auto">
        <button class="btn btn-light btn-sm" style="width:100%;" id="btnSignOut"><i class="fa fa-power-off lms-icon-off"></i><span class="small-no-text">Cerrar sesión</span></button>
    </div>
</div>
