<div id="divFormObsDocs">
    <div id="divFormObs">
        <div class="card" style="height:95%;">
            <div class="card-header card-header-blue justify-content-between">
                Observaciones
                <button class="btn btn-sm btn-add-obs" data-toggle="tooltip" title="Agregar observación" id="btnAddObservation"><i class="fa fa-plus-circle"></i></button>
            </div>
            <div class="card-body card-body-obs">
                <div class="obs-bg" >
                    <!-- <div class="row-wo-margin">
                        <img width="25px" height="25px" alt="profile" src="/static/images/logo_wn_white.png"/>
                        <span class="spn-obs-name">Paz García</span><span class="spn-obs-date">13-12-20 12:34:33</span>
                    </div> -->
                    <div id="formComments" >

                    </div>
                </div>

            </div>
        </div>
    </div>
    <div id="divFormDocs" style="display:none;">
        <div class="card">
            <div class="card-header card-header-blue">
                Documentos
            </div>
            <div class="card-body">

            </div>
        </div>
    </div>
</div>
