<div id="divFormObsDocs">
    <div id="divFormObs">
        <div class="card" style="height:95%;">
            <div class="card-header card-header-blue justify-content-between">
                Observaciones
                <button class="btn btn-sm btn-add-obs" data-toggle="tooltip" title="Agregar observación" id="btnAddObservation"><i class="fa fa-plus-circle"></i></button>
            </div>
            <div class="card-body card-body-obs">
                <div class="obs-bg">
                    <div id="formComments" >

                        <div class="div-form-comment">
                            <div class="row-wo-margin row justify-content-between">
                                <div class="row row-wo-margin justify-content-between">
                                    <img width="25px" height="25px" alt="profile" src="/static/images/default-user.png"/>
                                    <div style="margin-left:5px;">
                                        <div>
                                            <span class="spn-obs-name">Paz García</span>
                                        </div>
                                        <div style="margin-top:-4px;">
                                            <span class="spn-obs-date">30-12-2021 14:38:45</span>
                                        </div>

                                    </div>
                                </div>
                                <div data-id="4">
                                    <button class="btn btn-sm btn-edit-obs"><i class="fa fa-edit"></i></button>
                                </div>
                            </div>
                            <div class="comment-content">
                                Este es un comentario de prueba
                            </div>
                        </div>

                    </div>
                </div>
                <div id="divEditorAndButtons" class="row row-wo-margin">

                </div>
            </div>
        </div>
    </div>
    <div id="divFormDocs">
        <div class="card" style="height:95%;">
            <div class="card-header card-header-blue justify-content-between">
                Archivos
                <div class="row-wo-margin">
                    <button class="btn btn-sm btn-docs-header" data-toggle="tooltip" title="Cargar archivo"><i class="fa fa-cloud-upload" id="btnUploadFormFolder"></i></button>
                    <button class="btn btn-sm btn-docs-header" data-toggle="tooltip" title="Descargar archivos" id="btnDownloadFormFile"><i class="fa fa-cloud-download"></i></button>
                    <button class="btn btn-sm btn-docs-header" data-toggle="tooltip" title="Eliminar archivo" id="btnDeleteFormFile"><i class="fa fa-trash"></i></button>
                </div>
            </div>
            <div class="card-body card-body-docs">
                <div class="docs-bg">
                    <div id="formDocuments" class="row-wo-margin row">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
