<button type="button" id="btnCollapseUnpublishedPanel" class="btn btn-collapse-treepanel" data-toggle="collapse" data-target="#unpublished_panel" aria-expanded="false" aria-controls="unpublished_panel"><i id="ibtnCollapseUnpublishedPanel" class="fa fa-thumb-tack "></i></button>
<div class="card collapse show" id="unpublished_panel" style="transition:width 0s;">
    <div class="card-header" style="padding:.75rem 1rem;">
        Sin publicar
    </div>
    <div class="card-body form-panel" id="divFormPanel">
        <ul class="unpublished-form-ul">

        </ul>
    </div>
</div>
