<div style="width:100%; height:-webkit-fill-available;">
    <div style="background-color:white; border-radius:5px; overflow-x:scroll; height:-webkit-fill-available;" id="divTreeMenu">

    </div>
    <div class="btn-group btn-group-sm" role="group" aria-label="Basic example" style="margin-top:15px; float:right;">
        <button type="button" class="btn btn-dark" data-toggle="tooltip" title="Agregar" id="btnNewMenuFolder"><i class="fa fa-plus-circle"></i></button>
        <button type="button" class="btn btn-dark" data-toggle="tooltip" title="Editar" id="btnEditMenuFolder"><i class="fa fa-edit"></i></button>
        <button type="button" class="btn btn-dark" data-toggle="tooltip" title="Eliminar" id="btnDeleteMenuFolder"><i class="fa fa-remove"></i></button>
    </div>
</div>
