<div style="width:100%;">
    <div style="background-color:white; border-radius:5px; overflow-x:scroll; max-height:500px">
        <ul class="file-tree">
            <li class="selectable-folder"><a href="#">Auditoría IMSS 2017 - GMAS</a>
                <ul>
                    <li class="selectable-folder"><a href="#" data-name="carpeta_1">ARCHIVO CORRIENTE</a>
                        <ul>
                            <li class="selectable-folder"><a href="#" data-name="carpeta_2">1. Planeación</a>
                                <ul>
                                    <li><a href="#" data-name="carpeta_3">1. Evaluación de A&C</a><ul>
                                        <li><a href="#">1.1.1. Evaluación de A&C - Contratos</a>
                                            <ul></ul>
                                        </li>
                                        <li><a href="#">1.1.3. Juicios</a>
                                            <ul></ul>
                                        </li>
                                        <li><a href="#" id="list_eval_ac">1.1. Evaluación de A&C - GMAS</a></li>
                                        <li><a href="#" id="list2">Segunda tabla</a></li>
                                    </ul></li>
                                    <li><a href="#">2. Planeación del trabajo</a><ul></ul></li>
                                    <li><a href="#">3. Entendimiento de la compañía</a><ul></ul></li>
                                    <li><a href="#">4. Revisión analítica preliminar</a><ul></ul></li>
                                    <li><a href="#">5. Estrategia global de auditoría</a><ul></ul></li>
                                </ul>
                            </li>
                            <li><a href="#">2. Ejecución</a>
                                <ul>
                                    <li><a href="#">1. Prueba global</a><ul></ul></li>
                                    <li><a href="#">2. Cédulas de determinación</a><ul></ul></li>
                                    <li><a href="#">3. Pruebas selectivas</a><ul></ul></li>
                                    <li><a href="#">4. Pruebas especiales</a><ul></ul></li>
                                    <li><a href="#">5. Honorarios - comisiones a P.F.</a><ul></ul></li>
                                    <li><a href="#">6. Clasificación de la actividad</a><ul></ul></li>
                                    <li><a href="#">7. Autodeterminación de la prima</a><ul></ul></li>
                                </ul>
                            </li>
                            <li><a href="#">3. Terminación</a>
                                <ul></ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="#">ARCHIVO PERMANENTE</a>
                        <ul></ul>
                    </li>
                </ul>
            </li>
            <li class="selectable-folder"><a href="#">Carta de recomendaciones - GMAS</a>
                <ul></ul>
            </li>
        </ul>
    </div>
</div>
