<div class="wrapper" >
    <nav id="sidebar">
        <ul class="list-unstyled components">
            <li class="active">
                <a href="#"><i class="fa fa-calendar-plus-o"></i><span class="hide-text"> Nuevo proyecto</span></a>
                </li>
            <li>
                <a href="#"><i class="fa fa-users"></i><span class="hide-text"> Administrar usuarios</span></a>
            </li>
            <li>
                <a href="#"><i class="fa fa-clone"></i><span class="hide-text"> Clonar proyecto</span></a>
            </li>
        </ul>
    </nav>

</div>
