<nav class="navbar fixed-top navbar-expand-sm navbar-dark" id="nav_main" style="background-color:#24a8d7; padding-bottom:inherit;">
    <a class="navbar-brand" href="/home" style="color:#f8f9fa; font-family:sans-serif;; font-weight:bolder;">
        <img src="/static/images/Spaceblue-01.png" width="30" height="30" alt="" />   Audit
    </a>
    <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#divNavBar">
        &#9776;
    </button>
    <div class="collapse navbar-collapse navbar-toggleable-xs" id="divNavBar">
        <ul class="navbar-nav mr-auto" id="topnb_leftmenu">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarForms" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Formularios">
                    <i class="fa fa-list-alt hidden-navbar-icon" style="margin-right:5px; vertical-align:middle;"></i>Formularios
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarForms">
                    <a class="dropdown-item" href="/project/{{g.project_factor}}/createform/step-1">Nuevo</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" data-toggle="modal" href="#win_new_project" id="a_clone_form">Clonar</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarUser" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Administrar usuarios">
                    <i class="fa fa-group hidden-navbar-icon" style="margin-right:5px; vertical-align:middle;"></i>Usuarios
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarUser">
                        <a class="dropdown-item" data-toggle="modal" href="#mod_admin_project_users">Administrar usuarios del proyecto</a>
                </div>
            </li>
        </ul>
        <div class="row" >
            <a data-toggle="tooltip" title="Ver notificaciones" style="cursor:pointer; margin-right:10px; color:rgba(255,255,255,0.5); font-weight:bold; visibility:hidden;" id="btnOpenNotifications" href="/notifications/{{g.project_factor}}"><i class="bell-no-notif"></i></a>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown" >
                    <a class="nav-link dropdown-toggle" role="button" href="#" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true"><img class={{g.profile_picture_class}} height="30px" width="30px" style="border-radius:50px;" alt=""/></a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="divUserDropdown">
                        <a class="dropdown-item" href="#mod_my_account" data-toggle="modal">Mi cuenta</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#" role="button" id="btnSignOut">Cerrar sesión</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
