{% extends 'main_layout.html' %}
{% block bodyContent %}
{{ super() }}
<div class="row" style="height:100%;">
    <div class="row-wo-margin div-leftmenusb">
        {% include 'elements/_left_menu_sidebar.html' %}
    </div>
    <div class="div-act-title">
        <span class="spn-act-title">Mis actividades</span>
        <div class="form-group row row-wo-margin" style="margin-left:3px;">
            <label for="activ_date" class="col-sm-2 col-form-label">Mostrar hasta:</label>
            <div>
                <input type="date" class="form-control" id="activ_date">
            </div>
            <button class="btn btn-primary " id="btnSearchUserAct" style="margin-left:5px;"><i class="fa fa-search"></i></button>
        </div>
        <div class="div-act-table">
            <table id="tableActList" class="display cell-border compact" style="font-size:14px;">
                <thead>
                    <tr>
                        <th>Actividad</th>
                        <th>Proyecto</th>
                        <th>Vencimiento</th>
                        <th>Estado</th>
                        <th>Ir</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
