{% extends 'main_layout.html' %}
{% block bodyContent %}
{{ super() }}
<div class="row" style="width:100%; height:80vh;">
    <div class="col-sm-3">
        {% include 'elements/_project_tree_structure.html' %}
    </div>
    <div class="col-sm-6">
        <h3 id="columnSettingsFormName"></h3>
        <div id="divColumnsSettings">
        </div>
        <div id="divFormPagingToolbar" style="float:right;">

        </div>
        <div style="margin-top:50px;">
            <!-- <button class="btn btn-dark pull-left" id="btnGoBackStep1"><i class="fa fa-angle-left"></i> Atrás</button>
            <button class="btn btn-dark pull-right" id="btnFinishForm">Siguiente <i class="fa fa-angle-right"></i></button> -->
            <button class="btn btn-dark pull-right" data-toggle="tooltip" title="Guardar cambios hasta el momento" id="btnSavePrefilledForm"><span class="hide-text">Guardar cambios </span><i class="fa fa-save"></i></button>
            <button class="btn btn-dark pull-right" data-toggle="tooltip" title="Publicar formulario" id="btnPublishForm"><span class="hide-text">Publicar </span><i class="fa fa-cloud-upload"></i></button>
        </div>
    </div>
    <div class="col-sm-3">
        {%include 'elements/_panel_right.html' %}
    </div>
</div>
{% endblock %}
