{% extends 'main_layout.html' %}
{% block bodyContent %}
{{ super() }}
<div class="row row-wo-margin" style="width:100%;">
    <div class="col-sm-12">
        {% include 'elements/_form_menu_path.html' %}

        <h3 id="columnSettingsFormName"></h3>
        <p class="p-last-updated" id="columnSettingsLastUpdated"></p>
        <p class="p-form-status"></p>
        <div id="divColumnsSettings">
        </div>
        <div id="divFormPagingToolbar" style="float:right;">

        </div>
        <div style="margin-top:40px;">
            <!-- <button class="btn btn-dark pull-left" data-toggle="tooltip" title="Eliminar formulario" id="btnDeletePrefilledForm"><i class="fa fa-trash"></i></button> -->
            <button class="btn btn-dark pull-right" data-toggle="tooltip" title="Publicar formulario" id="btnPublishForm"><i class="fa fa-cloud-upload"></i></button>
            <button class="btn btn-dark pull-right" data-toggle="tooltip" title="Guardar cambios hasta el momento" id="btnSavePrefilledForm"><i class="fa fa-save"></i></button>
            <button class="btn btn-dark pull-right" data-toggle="tooltip" title="Editar configuración del formulario" id="btnEditPrefilledForm"><i class="fa fa-edit"></i></button>
        </div>
    </div>

</div>
{% endblock %}
