{% extends 'main_layout.html' %}
{% block bodyContent %}
{{ super()}}
<div class="row" style="width:100%;">
    <div class="col-sm-8">
        
        <div class="div-proj-title">
            <span class="spnMyProjects">Mis proyectos</span>
        </div>
        <div class="project-list-div" id="projectListContainer">
            <ul class="proj-list-ul">
                <!-- <li class="proj-list-li">
                    <a class="proj-list-a" href="/project">Proyecto 1</a>
                </li> -->
            </ul>
        </div>
    </div>
    <div class="col-sm-4" style="padding-top:65px;">
        {% include 'elements/_sidebar_menu.html' %}
    </div>
</div>


{% endblock %}
