{% extends 'main_layout.html' %}
{% block bodyContent %}
{{ super()}}
<div class="row" style="width:100%;">
    <div class="col-sm-8">
        <!-- <h1>Bienvenido {{name}}</h1> -->
        <div class="div-proj-title">
            <span class="spnMyProjects">Mis proyectos</span>
        </div>
        <div class="project-list-div" id="projectListContainer">
            <ul class="proj-list-ul">
                <li class="proj-list-li">
                    <a class="proj-list-a" href="#">Proyecto 1</a>
                </li>
                <li class="proj-list-li">
                    <a class="proj-list-a" href="#">Proyecto 2</a>
                </li>
                <li class="proj-list-li">
                    <a class="proj-list-a" href="#">Proyecto 3</a>
                </li>
                <li class="proj-list-li">
                    <a class="proj-list-a" href="#">Proyecto 4</a>
                </li>
                <li class="proj-list-li">
                    <a class="proj-list-a" href="#">Proyecto 5</a>
                </li>
                <li class="proj-list-li">
                    <a class="proj-list-a" href="#">Proyecto 6</a>
                </li>
                <li class="proj-list-li">
                    <a class="proj-list-a" href="#">Proyecto 7</a>
                </li>
                <li class="proj-list-li">
                    <a class="proj-list-a" href="#">Proyecto 8</a>
                </li>
                <li class="proj-list-li">
                    <a class="proj-list-a" href="#">Proyecto 9</a>
                </li>
                <li class="proj-list-li">
                    <a class="proj-list-a" href="#">Proyecto 10</a>
                </li>
            </ul>


        </div>
    </div>
    <div class="col-sm-4" style="padding-top:65px;">
        {% include 'elements/_sidebar_menu.html' %}
    </div>
</div>
{% include 'modal/new_project.html' %}


{% endblock %}
