{% extends 'main_layout.html' %}
{% block bodyContent %}
{{ super()}}
<div class="row" style="width:100%;">
    <div class="col-sm-9">

        <div class="div-proj-title">
            <span class="spnMyProjects">Mis proyectos</span>
        </div>
        <div class="project-list-div" id="projectListContainer">
            <ul class="proj-list-ul">
                <!-- <li class="proj-list-li">
                    <div class="row">
                        <a class="proj-list-a" href="/project" style="width:90%;">Proyecto 1</a><a class="proj-list-a" href="#" style="width:10%;"><i class="fa fa-info"></i></a>
                    </div>
                </li> -->
            </ul>
        </div>
    </div>
    <div class="col-sm-3" style="padding-top:65px;">
        {% include 'elements/_sidebar_menu.html' %}
    </div>
</div>


{% endblock %}
