<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
        <link rel="icon" type="image/jpg" href="../static/images/Spaceblue-01.png">
        <link rel="stylesheet" href="/static/css/lib/bootstrap-grid.min.css"/>
        <link rel="stylesheet" href="/static/css/lib/bootstrap-reboot.min.css"/>
        <link rel="stylesheet" href="/static/css/lib/bootstrap.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <!-- <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/> -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
        <link rel="stylesheet" href="/static/css/login.css" />
        <link rel="stylesheet" href="/static/jquery-confirm/jquery-confirm.min.css"/>
        <title>EasyTask</title>
    </head>
    <body>
        <div class="container-fluid no-padding">
            <div class="row no-gutters" style="height:100vh;">
                <div class="col-sm-8 background-login">

                </div>
                <div class="col-sm-4 background-login-form login-form" style="border-radius:0;">
                    <div class="login-form" style="height:80vh;">
                        <form id="frmLogin" class="form-siging form-login" method="post" action="/login/signin">
                            <div class="form-group">
                                <img class="login-image" alt="Russell Bedford" src="/static/images/logo_verde.png" height="90px" width="300px"></img>
                                <input class="form-control form-control-lg" type="email" placeholder="Correo electrónico" id="loginEmail" name="email" required>
                                {% with errors = get_flashed_messages(category_filter=["user"]) %}
                                    {% if errors %}
                                        <div id="errorLoginEmail" class="show-login-error">
                                            <!-- Dirección de correo inválida -->
                                            {{errors[0]}}
                                        </div>
                                    {% endif %}
                                {% endwith %}
                                <input class="form-control form-control-lg" type="password" placeholder="Contraseña" id="loginPassword" name="password" required>
                                {% with errors = get_flashed_messages(category_filter=["pass"]) %}
                                    {% if errors %}
                                        <div  id="errorLoginPassword" class="show-login-error">
                                            {{errors[0]}}
                                        </div>
                                    {% endif %}
                                {% endwith %}
                                <button class="btn btn-info btn-block btn-lg" id="btnSignin" style="margin-top:10px;">Ingresar</button>
                                <div class="row" style="padding-top:5%;">
                                    <div class="m-auto">
                                        <a class="a-login" href="#mod_forgot_password" data-toggle="modal">Olvidé mi contraseña</a>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>

                </div>
            </div>

        </div>
        {% include 'modal/forgot_password.html' %}
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
        <script src="/static/js/lib/bootstrap.min.js"></script>
        <script type=text/javascript>
          $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        </script>
        <script src="/static/js/login.js"></script>
        <script src="/static/jquery-confirm/jquery-confirm.min.js"></script>
    </body>
</html>
