<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
        <link rel="icon" type="image/jpg" href="../static/images/Spaceblue-01.png">
        <link rel="stylesheet" href="/static/css/lib_4.5/bootstrap.css" />
        <link rel="stylesheet" href="/static/css/lib_4.5/bootstrap.min.css" />


        <link rel="stylesheet" href="/static/css/login.css" />
        <link rel="stylesheet" href="/static/jquery-confirm/jquery-confirm.min.css"/>
        <title>EasyTask</title>
    </head>
    <body>
        <div class="container-fluid no-padding background-login">
            <div class="row no-gutters" style="height:100vh;">
                <div class="offset-sm-1 col-sm-3 login-form" style="border-radius:0;">
                        <form id="frmLogin" class="form-signin form-login" method="post" action="/login/signin">
                            <div class="form-group">
                                <img class="login-image" alt="Russell Bedford" src="/static/images/Logo_Rb_white2.png" height="80px" width="250"></img>
                                <img class="login-profile" alt="Usuario" src="/static/images/perfil.png" height="150px" width="150px" ></img>
                                <input class="form-control form-control-lg" type="email" placeholder="Correo electrónico" id="loginEmail" name="email" required>
                                {% with errors = get_flashed_messages(category_filter=["user"]) %}
                                    {% if errors %}
                                        <div id="errorLoginEmail" class="show-login-error">
                                            <!-- Dirección de correo inválida -->
                                            {{errors[0]}}
                                        </div>
                                    {% endif %}
                                {% endwith %}
                                <input class="form-control form-control-lg" type="password" placeholder="Contraseña" id="loginPassword" name="password" required>
                                {% with errors = get_flashed_messages(category_filter=["pass"]) %}
                                    {% if errors %}
                                        <div  id="errorLoginPassword" class="show-login-error">
                                            {{errors[0]}}
                                        </div>
                                    {% endif %}
                                {% endwith %}
                                <button class="btn btn-info btn-block btn-lg" id="btnSignin" style="margin-top:10px;">Ingresar</button>
                                <div class="row" style="padding-top:5%;">
                                    <div class="m-auto">
                                        <a class="a-login" href="/login/recover-password">Olvidé mi contraseña</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                </div>
            </div>
        </div>
        {% include 'modal/forgot_password.html' %}

        <script src="https://code.jquery.com/jquery-3.5.1.js"  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
        <script src="/static/js/lib_4.5/bootstrap.bundle.js"></script>
        <script src="/static/js/lib_4.5/bootstrap.bundle.min.js"></script>

        <script src="/static/jquery-confirm/jquery-confirm.min.js"></script>
        <script src="/static/js/login.js"></script>
    </body>
</html>
