<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
        <link rel="stylesheet" href="/static/css/lib/bootstrap-grid.min.css"/>
        <link rel="stylesheet" href="/static/css/lib/bootstrap-reboot.min.css"/>
        <link rel="stylesheet" href="/static/css/lib/bootstrap.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.16/r-2.2.1/rr-1.2.3/sc-1.4.4/sl-1.2.5/datatables.min.css"/>
        <link rel="stylesheet" href="/static/jquery-loading/css/easy-loading.min.css" />
        <link rel="stylesheet" href="/static/jquery-confirm/jquery-confirm.min.css"/>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
        <link rel="stylesheet" href="/static/css/general.css" />
        <link rel="stylesheet" href="/static/css/_formpanel.css" />
        <link rel="stylesheet" href="/static/css/home.css" />
        <link rel="stylesheet" href="/static/css/forms.css" />
        <link rel="stylesheet" href="/static/css/profile_images.css"/>
        <link rel="stylesheet" href="/static/jquery-folding-tree/css/file-explore.css"/>
        <link rel="stylesheet" href="/static/css/_treepanel.css"/>
        <title>Auditoría</title>
    </head>
    <body>
        {% include 'elements/_topnavbar.html' %}
        {% if g.user_info %}
        <span id="spnSession" style="display: none">{{ g.user_info }}</span>
        {% else %}
        <span id="spnSession" style="display: none">{}</span>
        {% endif %}
        <div id="bodyContent" class="container-fluid" style="padding-top:65px;">{% block bodyContent %}{% endblock %}</div>
        {% include 'modal/new_project.html' %}
        {% include 'modal/my_account.html' %}
        {% include 'modal/admin_users.html' %}
        {% include 'modal/new_user.html' %}
        {% include 'modal/add_folder.html' %}
        {% include 'modal/publish_form.html' %}
        {% include 'modal/admin_project_users.html' %}
        {% include 'modal/project_user_permits.html' %}



        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
        <script src="/static/js/lib/bootstrap.min.js"></script>
        <script type=text/javascript>
          $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        </script>
        <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.16/r-2.2.1/rr-1.2.3/sc-1.4.4/sl-1.2.5/datatables.min.js"></script>
        <script src="/static/jquery-loading/js/easy-loading.min.js"></script>
        <script src="/static/jquery-confirm/jquery-confirm.min.js"></script>
        <script src="/static/js/notifications.js"></script>
        <script src="/static/js/user.js"></script>
        <script src="/static/js/forms.js"></script>
        <script src="/static/js/general_functions.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.16/r-2.2.1/rr-1.2.3/sc-1.4.4/sl-1.2.5/datatables.min.js"></script>
        <script src="/static/js/project.js"></script>
        <script src="/static/jquery-folding-tree/js/file-explore.js"></script>
        <script src="/static/js/treepanel.js"></script>
    </body>

</html>
