<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
        <link rel="icon" type="image/jpg" href="../static/images/Spaceblue-01.png">
        <link rel="stylesheet" href="/static/css/lib_4.5/bootstrap.min.css" />
        <link rel="stylesheet" href="/static/css/lib_4.5/bootstrap.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.22/af-2.3.5/b-1.6.5/b-colvis-1.6.5/b-flash-1.6.5/b-html5-1.6.5/b-print-1.6.5/cr-1.5.3/fc-3.3.2/fh-3.1.7/kt-2.5.3/r-2.2.6/rg-1.1.2/rr-1.2.7/sc-2.0.3/sb-1.0.1/sp-1.2.2/sl-1.3.1/datatables.min.css"/>
        <link rel="stylesheet" href="/static/jquery-loading/css/easy-loading.min.css" />
        <link rel="stylesheet" href="/static/jquery-confirm/jquery-confirm.min.css"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
        <link rel="stylesheet" href="/static/css/general.css" />
        <link rel="stylesheet" href="/static/css/_formpanel.css" />
        <link rel="stylesheet" href="/static/css/home.css" />
        <link rel="stylesheet" href="/static/css/forms.css" />
        <link rel="stylesheet" href="/static/css/profile_images.css"/>
        <link rel="stylesheet" href="/static/jquery-folding-tree/css/file-explore.css"/>
        <link rel="stylesheet" href="/static/css/_treepanel.css"/>
        <link rel="stylesheet" href="/static/css/notifications.css"/>
        <link rel="stylesheet" href="/static/css/activities.css" />
        <title>EasyTask</title>
    </head>
    <body>

        {% include 'elements/_topnavbar_light.html' %}
        {% if g.user_info %}
        <span id="spnSession" style="display: none">{{ g.user_info }}</span>
        {% else %}
        <span id="spnSession" style="display: none">{}</span>
        {% endif %}
        <div id="bodyContent" class="container-fluid">{% block bodyContent %}{% endblock %}</div>

        {% include 'modal/new_project.html' %}
        {% include 'modal/my_account.html' %}
        {% include 'modal/admin_users.html' %}
        {% include 'modal/new_user.html' %}
        {% include 'modal/add_folder.html' %}
        {% include 'modal/admin_project_users.html' %}
        {% include 'modal/project_user_permits.html' %}
        {% include 'modal/edit_user.html' %}
        {% include 'modal/form_details.html' %}
        {% include 'modal/finish_checking_form.html' %}
        {% include 'modal/add_form_comment.html' %}
        {% include 'modal/see_form_comments.html' %}
        {% include 'modal/upload_form_folder.html' %}
        {% include 'modal/download_form_files.html' %}
        {% include 'modal/clone_project.html' %}
        {% include 'modal/edit_form_settings.html' %}
        {% include 'modal/publish_form.html' %}
        {% include 'modal/form_folder_menu.html' %}
        {% include 'modal/delete_project.html' %}
        {% include 'modal/project_info.html' %}
        {% include 'modal/project_form_info.html' %}
        {% include 'modal/edit_project_info.html' %}
        {% include 'modal/sel_form_to_clone.html' %}
        {% include 'modal/publishing_history.html' %}









        <script src="https://code.jquery.com/jquery-3.5.1.js"  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.22/af-2.3.5/b-1.6.5/b-colvis-1.6.5/b-flash-1.6.5/b-html5-1.6.5/b-print-1.6.5/cr-1.5.3/fc-3.3.2/fh-3.1.7/kt-2.5.3/r-2.2.6/rg-1.1.2/rr-1.2.7/sc-2.0.3/sb-1.0.1/sp-1.2.2/sl-1.3.1/datatables.min.js"></script>


        <script src="/static/js/lib_4.5/bootstrap.bundle.min.js"></script>
        <script src="/static/js/lib_4.5/bootstrap.bundle.js"></script>

        <script src="/static/jquery-loading/js/easy-loading.min.js"></script>
        <script src="/static/jquery-confirm/jquery-confirm.min.js"></script>
        <script src="/static/js/notifications.js"></script>
        <script src="/static/js/user.js"></script>
        <script src="/static/js/forms.js"></script>
        <script src="/static/js/general_functions.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.16/r-2.2.1/rr-1.2.3/sc-1.4.4/sl-1.2.5/datatables.min.js"></script>
        <script src="/static/js/project.js"></script>
        <script src="/static/jquery-folding-tree/js/file-explore.js"></script>
        <script src="/static/js/treepanel.js"></script>
        <script src="/static/js/activities.js"></script>
    </body>

</html>
