{% extends 'main_layout.html' %}
{% block bodyContent %}
{{ super() }}

<div class="row" style="height:100%;">
    <div class="row-wo-margin div-leftmenusb">
        {% include 'elements/_left_menu_sidebar.html' %}
    </div>
    <div class="div-mproj-title">
        <span class="spn-act-title">Mis proyectos</span>
        <div class="row row-wo-margin" style="height:inherit">
            <div class="div-proj-content div-mproj-list">
                <input type="text" class="form-control form-control-sm " id="myProjectsFinderInput" placeholder="&#xf002; Buscar">
                <div id="myProjectsDiv">
                    <ul id="myProjectsUl">
                        <!-- <li class="proj-list-li">
                            <div class="row row-wo-margin justify-content-between">
                                <a class="proj-list-a" href="/project/#" name="Prueba" style="width:93%;">Proyecto prueba</a>
                                <a class="a-project-ext-link" href="#"><i class="fa fa-external-link"></i></a>
                            </div>
                        </li> -->
                    </ul>
                </div>
            </div>
            <div class="div-proj-content" >
                <div class="div-myProject-right-containers">
                    <div class="card" style="height:100%;">
                        <div class="card-header header-folders-menu justify-content-between row row-wo-margin">
                            <span id="spnMyProjectName" data-toggle="tooltip"></span>
                            {% if g.consultant==True %}
                            <div>
                                <button class="btn btn-sm btn-mP-top-menu dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Nuevo" disabled><i class="fa fa-plus-circle"></i></button>
                                <div class="dropdown-menu dropdown-menu-right" role="menu">
                                    <a class="dropdown-item" href="#mod_add_folder" data-toggle="modal" id="dropAddFolder">Nueva carpeta</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#mod_create_form" data-toggle="modal" id="amodCreateForm">Nuevo formulario</a>
                                    <a class="dropdown-item" href="#mod_create_form_import" data-toggle="modal" id="amodCreateFormImport">Importar formulario</a>
                                    <a class="dropdown-item" href="#mod_create_form_clone" data-toggle="modal" id="amodCreateFormClone">Clonar formulario</a>
                                    <!-- <a class="dropdown-item" href="#mod_create_form_from_another_project" data-toggle="modal">Clonar formulario desde otro proyecto</a> -->
                                </div>
                                <button class="btn btn-sm btn-mP-top-menu" data-toggle="tooltip" title="Editar carpeta o formulario" disabled id="btnEditFormFolder"><i class="fa fa-edit"></i></button>
                                <button class="btn btn-sm btn-mP-top-menu" data-toggle="tooltip" title="Eliminar carpeta" disabled id="btnRemoveFormFolder"><i class="fa fa-trash-o"></i></button>
                            </div>
                            {% endif %}
                        </div>
                        <div class="card-body myProject-menu-container">
                            {% include 'elements/_form_menu_path.html' %}
                            <div class="div-mP-folders-container row row-wo-margin" id="divMPFoldersCont">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="div-myProject-right-containers">
                    <div class="row row-wo-margin justify-content-around" style="height:30%; margin:auto;">
                        <div class="div-myproject-sel-info row row-wo-margin" style="width:30%;">
                            <i class="fa fa-calendar icon-myproject-info"></i>
                            <div class="m-auto">
                                <div class="div-myproject-info-title">Creado
                                </div>
                                <div class="div-myproject-info-content" id="divMPcreateDate"></div>
                            </div>
                        </div>
                        <div class="div-myproject-sel-info row row-wo-margin" style="width:30%;">
                            <i class="fa fa-calendar icon-myproject-info"></i>
                            <div class="m-auto">
                                <div class="div-myproject-info-title">Inicia
                                </div>
                                <div class="div-myproject-info-content" id="divMPstartDate"></div>
                            </div>
                        </div>
                        <div class="div-myproject-sel-info row row-wo-margin" style="width:30%;">
                            <i class="fa fa-calendar icon-myproject-info" style="color:#e46969;"></i>
                            <div class="m-auto">
                                <div class="div-myproject-info-title">Termina
                                </div>
                                <div class="div-myproject-info-content" id="divMPfinishDate"></div>
                            </div>
                        </div>
                    </div>
                    <div class="div-myproject-sel-info row row-wo-margin" style="height:30%;">
                        <div class="" style="width:10%; margin:auto;">
                            <i class="fa fa-building-o icon-myproject-info" style="display:table;"></i>
                        </div>
                        <div class="" style="width:90%;">
                            <div class="div-myproject-info-title">Empresa
                            </div>
                            <div class="div-myproject-info-content" id="divMPcompanyName" style="width:95%; margin:0; line-height:0.9; text-align:center;"><p></p></div>
                        </div>
                    </div>
                    <!-- <div class="div-myproject-sel-info row row-wo-margin" style="height:30%;">
                        <i class="fa fa-user-circle-o icon-myproject-info m-4"></i>
                        <div class="m-auto">
                            <div class="div-myproject-info-title">Actualizado última vez
                            </div>
                            <div class="div-myproject-info-content" id="divMPlastUpdated"></div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}
