{% extends 'main_layout.html' %}
{% block bodyContent %}
{{ super() }}
<div class="row" style="width:100%;">
    <div class="col-sm-9">
        <span class="spnMyProjects">Mis notificaciones</span>
        <div class="row main-div-notif">
            <div class="notif-div" id="divNotificationList">
                <div class="notif unread-notif row container">
                    <img class="profileimage-user-15- notif-img"  alt=""/>
                    <a href="#" ><span class="notif-subject">Usted tiene una notificación este nombre es muy muy largo y no cabe</span><span class="notif-date">17-07-2019 13:00:09</span></a>
                    <i class="fa fa-envelope"></i>
                </div>
                <div class="notif read-notif row container">
                    <img class="profileimage-user-15- notif-img"  alt=""/>
                    <a href="#" ><span class="notif-subject">Usted tiene una notificación este nombre es muy muy largo y no cabe</span><span class="notif-date">17-07-2019 13:00:09</span></a>
                    <i class="fa fa-envelope-open"></i>
                </div>
                <div class="notif read-notif row container">
                    <img class="profileimage-user-10- notif-img"  alt=""/>
                    <a href="#" ><span class="notif-subject">Usted tiene una notificación este nombre es muy muy largo y no cabe</span><span class="notif-date">17-07-2019 13:00:09</span></a>
                    <i class="fa fa-envelope-open"></i>
                </div>
            </div>
            <div class="notif-div" id="divNotificationContent">
                <div class="row notif-content-header">
                    <div class="div-notif-content-img">
                        <img class="profileimage-user-15- notif-content-img"  alt=""/>
                    </div>
                    <div class="div-notif-content-header-text">
                        <p><b>De: </b>Patricio Estrella</p>
                        <p><b>Fecha: </b>17-07-2019 13:00:09</p>
                        <p><b>Asunto: </b>Este es el motivo del mensaje</p>
                    </div>
                </div>
                <hr style="margin:0;"/>
                <div class="notif-content-msg">
                    <p>Este es el contenido del mensaje, aquí se indica lo que el usuario deberá hacer una vez que reciba este mensaje.
                    </p>
                </div>

            </div>
        </div>
    </div>
    <div class="col-sm-3">
        {% include 'elements/_sidebar_menu.html' %}
    </div>
</div>
{% endblock %}
