{% extends 'main_layout.html' %}
{% block bodyContent %}
{{ super() }}
<div class="row" style="width:100%;">
    <div class="col-sm-12">
        <div class="row div-notif-title">
            <span class="spnNotifsTitle">Mis notificaciones</span>
            <a class="notif-project-link" href="/project/{{g.project_factor}}">Ir a proyecto</a>
        </div>

        <div class="row main-div-notif">
            <!-- <div> -->
                <div class="notif-div" id="divNotificationList">
                <!-- <div id="divNotificationsPagingToolbar" style="float:right;">
                    <div class="btn-group btn-group-sm" role="group">
                        <input class="paging-toolbar-number" type="text" readonly id="paging_toolbar_numberNotif"/>
                        <button type="button" class="btn btn-secondary form-paging-toolbar" data-number="1">1</button>
                        <button type="button" class="btn btn-secondary form-paging-toolbar" data-number="2">2</button>
                    </div>
                </div> -->
            </div>

            <div class="notif-div" id="divNotificationContent">
                <!-- <div class="row notif-content-header">
                    <div class="div-notif-content-img">
                        <img class="profileimage-user-15- notif-content-img"  alt=""/>
                    </div>
                    <div class="div-notif-content-header-text">
                        <p><b>De: </b>Patricio Estrella</p>
                        <p><b>Fecha: </b>17-07-2019 13:00:09</p>
                        <p><b>Asunto: </b>Este es el motivo del mensaje</p>
                    </div>
                </div>
                <hr style="margin:0;"/>
                <div class="notif-content-msg">
                    <p>Este es el contenido del mensaje, aquí se indica lo que el usuario deberá hacer una vez que reciba este mensaje.
                    </p>
                </div> -->
            </div>
        </div>
        <div id="divNotificationsPagingToolbar" style="margin-left:10px;">
            <!-- <div class="btn-group btn-group-sm" role="group">
                <input class="paging-toolbar-number" type="text" readonly id="paging_toolbar_numberNotif"/>
                <button type="button" class="btn btn-secondary form-paging-toolbar" data-number="1">1</button>
                <button type="button" class="btn btn-secondary form-paging-toolbar" data-number="2">2</button>
            </div> -->
        </div>
    </div>
</div>
{% endblock %}
