<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
        <link rel="icon" type="image/jpg" href="../static/images/Spaceblue-01.png">
        <link rel="stylesheet" href="/static/css/lib/bootstrap-grid.min.css"/>
        <link rel="stylesheet" href="/static/css/lib/bootstrap-reboot.min.css"/>
        <link rel="stylesheet" href="/static/css/lib/bootstrap.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
        <link rel="stylesheet" href="/static/css/login.css" />
        <link rel="stylesheet" href="/static/jquery-confirm/jquery-confirm.min.css"/>
        <title>EasyTask</title>
    </head>
    <body>
        <div class="container-fluid no-padding background-login">
            <div style="height:100vh;" >
                <div style="height:inherit;">
                    <div class="row rec-pass-row">
                        <div class="col align-self-center rec-pass-div row">
                            <div class="col-sm-6 fp-align-center justify-content-around">
                                <div class="div-cont-fg">
                                    <!-- <label class="lbl-forg-pass">¿Olvidaste tu contraseña?</label>
                                    <input type="text" placeholder="Ingrese su correo electrónico" class="form-control inp-fg"/>
                                    <button class="btn btn-info btn-sm btn-fp">Recuperar contraseña</button> -->
                                    <label class="lbl-forg-pass">Revisa tu correo...</label>
                                    <a class="btn btn-info btn-sm btn-fp" href="/login">Iniciar sesión</a>

                                </div>
                            </div>
                            <div class="col-sm-6 div-fg-img">

                                <img class="login-pass-image" alt="Russell Bedford" src="/static/images/Logo_Rb_white2.png" </img>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
        <script src="/static/js/lib/bootstrap.min.js"></script>
        <script type=text/javascript>
          $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        </script>
        <script src="/static/js/login.js"></script>
        <script src="/static/jquery-confirm/jquery-confirm.min.js"></script>
    </body>
</html>
