{% extends 'main_layout.html' %}
{% block bodyContent %}
{{ super() }}
<div class="row" style="width:100%; height:80vh;">
    <div class="col-sm-3 mh-inh">
        {% include 'elements/_project_tree_structure.html' %}

    </div>
    <div class="col-sm-6 mh-inh">
        <h3 id="resolveFormName"></h3>
        <p class="p-last-updated" id="resolveFormLastUpdated"></p>
        <p class="p-form-status"></p>
        <div id="divTableToResolve">
        </div>
        <div id="divTableToResolvePagingToolbar" style="float:right;">

        </div>
        <div style="margin-top:50px;">
            <button class="btn btn-dark pull-left" data-toggle="tooltip" title="Agregar comentario" id="btnFormAddComment"><i class="fa fa-commenting"></i></button>
            <button class="btn btn-dark pull-left" data-toggle="tooltip" title="Ver comentarios" id="btnFormSeeComments"><i class="fa fa-list-alt"></i></button>
            <button class="btn btn-dark pull-right" data-toggle="tooltip" title="Descargar formulario" id="btnDownloadForm"><i class="fa fa-cloud-download"></i></button>
            <button class="btn btn-dark pull-right" data-toggle="tooltip" title="Finalizar revisión" id="btnFinishRevision"><i class="fa fa-check-square-o"></i></button>
            <button class="btn btn-dark pull-right" data-toggle="tooltip" title="Enviar a revisión" id="btnSendToRevision"><i class="fa fa-check-circle"></i></button>
            <button class="btn btn-dark pull-right" data-toggle="tooltip" title="Guardar cambios hasta el momento" id="btnSaveResolvedForm"><i class="fa fa-save"></i></button>
            <button class="btn btn-dark pull-right" id="btnSeeFormDetails" data-toggle="tooltip" title="Ver detalles del formulario"><i class="fa fa-info"></i></button>
        </div>
    </div>
    <div class="col-sm-3 mh-inh">
        {%include 'elements/_panel_right.html' %}
    </div>
</div>
{% endblock %}
